<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <p>This is a simple Node Express app with EJS templating.</p>
  <p id="message">This message will be replaced by JavaScript.</p>
  <p>This app is deployed on a Linux server hosted on digital ocean.</p>
  <p>this also uses nginx server as reverse proxy.</p>

  <script src="/js/script.js"></script>
</body>
</html>
